$spotify-green: #1DB954;
$spotify-black: #191414;
$spotify-dark-grey: #121212;
$spotify-light-grey: #B3B3B3;
$spotify-white: #FFFFFF;

$primary-color: $spotify-green; 
$bg-black: #000000;
$bg-base: #121212;
$bg-elevated-base: #181818;
$bg-elevated-highlight: #282828;
$bg-press: #000000;

$text-base: #ffffff;
$text-subdued: #a7a7a7;
$text-negative: #f15e6c;
$text-warning: #ffa42b;
$text-positive: #1ed760;
$text-announcement: #3d91f4;

$essential-base: #ffffff;
$essential-subdued: #727272;
$essential-warning: #ffa42b;
$essential-positive: #1ed760;
$essential-announcement: #3d91f4;

$decorative-base: #ffffff;
$decorative-subdued: #292929;

$font-stack: 'CircularSp', 'CircularSp-Arab', 'CircularSp-Hebr', 'CircularSp-Cyrl', 'CircularSp-Grek', 'CircularSp-Deva', 'Helvetica Neue', helvetica, arial, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS Gothic', sans-serif;