/* .box-1{
    height: 200px;
    width: 100px;
    border: 1px solid blue;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}

.box-2{
    height: 200px;
    width: 100px;
    border: 1px solid blue;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    gap: 10px;
    margin: 10px;
} */

.box-1{
    height: 250px;
    width: 150px;
}
.box-2{
    height: 200px;
    width: 200px;
}
.box-border{
    border: 1px solid blue;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}