* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: white;
}

.contenedor {
    padding: 10px;
    margin: 10px;
}

.caja1 {
    width: 80px;
    height: 80px;
    background: green;
    border-color: black;
    border-radius: 50%;
    box-shadow: 80px 0 0 0 green,
        0 80px 0 0 green,
        80px 80px 0 0 green,
        40px 40px 20px 5px green,
        40px 200px 0 -60px green;

}

.caja2{
      width: 10px;
  height: 100px;
  background: green;
  border-color: black;
  position: absolute;
  left: 75px; 
  top: 140px;
  border-radius: 30px;
}