*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.absolute{
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    border: 1px solid black;
}
.relative{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: coral;
    border: 1px solid black;
}